<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head'); %>
  </head>
  <body>
    <div class="centered-page">
      <div class="centered-v">
        <div class="title-text centered-text">Enter your nickname</div>
        <form action="/anon-login" method="post">
          <input name="username"/>
          <button>Join</button>
        </form>
      </div>
    </div>
    <%- include('partials/footer'); %>
  </body>
</html>