<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head'); %>
  </head>
  <body>
    <form action="/anon-login" method="post">
      <input name="username"/>
      <button>Enter</button>
    </form>
    <%- include('partials/footer'); %>
  </body>
</html>