<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head'); %>
  </head>
  <body>
    <div class="bold-large">Room list</div>
    <ul id="room-list">

    </ul>
    <template id="room-entry-t">
      <li class="room-entry">
        <a class="room-url" href="">
          <div class="room-name"></div>
          <div class="room-occupancy"></div>
        </a>
      </li>
    </template>
    <div class="centered-page">
      <form action="/newroom" method="post">
        <input class="room-input" name="roomName"/>
        <input hidden="true" name="maxPlayers" type="number" min="2" max="8" value="2"/>
        <button>Create new room</button>
      </form>
    </div>
    <%- include('partials/footer'); %>
    <script src="client.js" type="module"></script>
  </body>
</html>